.promo {
    --padding-top-add: 50px;
    position: relative;


    &-grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 0 1rem;
        grid-template-areas:
            "H H H H H H H H H H H H"
            ". . . . . . G G G G G G"
            "O O O O O O O O O O O O"
            "L L L L L L L L L L L L"
            "P P P P P P P P P P P P"
        ;

        &__head {
            grid-area: H;
        }

        &__list {
            grid-area: L;
        }

        &__offer {
            grid-area: O;
            margin-bottom: 1rem;
        }

        &__proof {
            grid-area: P;
            position: relative;
        }

        &__graduate {
            grid-area: G;
            position: relative;
        }
    }

    &__graduate {
        position: relative;
        &:before {
            content: "";
            display: block;
            width: 150%;
            aspect-ratio: 1/1;
            background-image: url(../img/bg-mob.webp);
            background-position: bottom center;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: -1;
                @media screen and (min-width: 576px) {
                        background-image: url(../img/bg.webp);
                    }
        }
    }

    &__list {
        margin-bottom: 1.5rem;
    }

    &__subtitle {
        max-width: calc(100% - 180px);
        font-size: 16px;
        margin-bottom: 1.5rem;
    }


    &__graduate {
        &-img {
            position: absolute;
            bottom: 1px;
            left: 0px;
        }
    }

    @media screen and (min-width: 576px) {
        &-grid {
            grid-template-areas:
                "H H H H H H G G G G G G"
                "O O O O O O O O O O O O"
                "L L L L L L L L L L L L"
                "P P P P P P P P P P P P"
            ;
        }
        &__title {
            margin-right: -100px;
        }
        &__subtitle {
            max-width: 100%;
            font-size: var(--h5);
            margin-bottom: 2rem;
        }
    }

    @media screen and (min-width: 768px) {
        position: relative;
        &:before {
            content: "";
            display: block;
            width: 100%;
            height: 60px;
            position: absolute;
            left: 0;
            bottom: 0;
            background: linear-gradient(to top, #fff 0%, transparent 100%);
            z-index: 2;
        }
        &-grid {
            grid-template-areas:
                "H H H H H H H H H H H H"
                "O O O O O O O P P P P P"
                "L L L L L L L G G G G G"
            ;
        }
        &__title {
            margin-right: 0;
        }
        &__list {
            margin-bottom: 0;
        }

        &__graduate {
            &-img {
                bottom: calc(var(--padding-bottom) * -1);
            }
        }
    }
    @media screen and (min-width: 992px) {
        &-grid {
            grid-template-areas:
                "H H H H H H H H H . . ."
                "P P P L L L L L L L . ."
                "O O O O O O G G G G G G"
                // "O O O O O O P P P P P P"

            ;
            &__offer {
                margin-top: 1rem;
                margin-bottom: 0;
            }
        }

        &__graduate {
            &-img {
                position: absolute;
            }
        }
    }

    @media screen and (min-width: 1200px) {
        --padding-top-add: 40px;

        &-grid {
            grid-template-areas:
                "H H H H H H H H H . . ."
                "P P L L L L L . . . . ."
                "O O O O O O G G G G G G"
                // "O O O O O O P P P P P P"

            ;

            &__offer {
                margin-top: 1.5rem;
            }
            &__proof {
                margin-bottom: 0;
            }
        }

        &__subtitle {
            max-width: 700px;
        }


    }

    @media screen and (min-width: 1400px) {
        --padding-top-add: 60px;
    }

}


.proof {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    &__icon {
        filter: drop-shadow(0 0 5px rgba(0,0,0,0.3));
    }
}
