


:root {
        /* Color 1: #006FFF */
        --color-1-tint-2: #e1ebfa;
        --color-1-tint-1: #55a8eb;
        --color-1-base: #006FFF;
        --color-1-shade-1: #294AA0;
        --color-1-shade-2: #103057;
        /* Color 2: #FDB44B */
        --color-2-tint-2: #FFE9CD;
        --color-2-tint-1: #FFCE8D;
        --color-2-base: #FDB44B;
        --color-2-shade-1: #A07337;
        --color-2-shade-2: #4C3923;
        --accent-color: #006FFF;
    }
